{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% block title %}Восстановление пароля завершено{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Восстановление пароля завершено</h1>
    </div>
    <div class="form-container">
        <p class="form__info-text">Ваш пароль был сохранен. Теперь вы можете войти.</p>
    </div>
    <div class="form-container">
        <a href="{% url 'login' %}" class="button button_style_blue">Войти</a>
    </div>
{% endblock %}
